<div class="dashboard ps-3 w-100">

    <div class="row">
<!--  -->
        <div class="col ">
            <div class="col shadow border rounded m-3" style="height: 140px; width: 300px ;background-color:  rgb(5, 5, 140)">

                <div class=" d-flex">
                  <div class="mt-4">
                    <h5 class="text-light">monthly orders</h5>
                    <h3 class="text-light fw-bold fs-5 ">Total Orders</h3>
                    <h4 class="text-light">2.520</h4>
                  </div>
                  <i class="fa-solid fa-bag-shopping text-white fs-2 mb-5"></i>
               
                </div>
            </div>
           




        </div>




<!--  -->
        <div class="col">
            <div class="col shadow border rounded m-3" style="height: 140px; width: 300px ;background-color: rgb(5, 5, 140)">

                <div class=" d-flex">
                  <div class="mt-4">
                    <h5 class="text-light">monthly revenue</h5>
                    <h3 class="text-light fw-bold fs-5 ">Total Revenue</h3>
                    <h4 class="text-light">$20.120</h4>
                  </div>
                  <i class="fa-solid fa-sack-dollar fs-2 mb-5 text-light"></i>
               
                </div>
            </div>
           


        </div>


<!--  -->
        <div class="col">
            <div class="col shadow border rounded m-3" style="height: 140px; width: 300px ;background-color:  rgb(5, 5, 140)">

                <div class=" d-flex">
                  <div class="mt-4">
                    <h5 class="text-light">monthly sales</h5>
                    <h3 class="text-light fw-bold fs-5 ">Total Sales</h3>
                    <h4 class="text-light">3.120</h4>
                  </div>
                  <i class="fa-solid fa-dollar-sign fs-2 mb-5 text-light"></i>
               
                </div>
            </div>
           

      </div>




</div>
<!-- ----------- -->

<div class="row mt-3">
    <div class="col w-50">
      <app-graph></app-graph>
    </div>
    <div class="col w-50">
      <app-chart></app-chart>
    </div>
  </div>