<div class="image-fluid mt-5 ">

<div class="text-light text-center py-5 ">
    <h3 class="fw-bold fs-3">Keep in Touch With You</h3>
    <p class="fs-6">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, illo!</p>
</div>

<div class="container">
    <div class="row">
        <!-- 1 -->
      <div class="col">

        <div class="card" style="width: 16rem;">
          <div class="text-center mt-2">
            <i class="fa-solid fa-cookie   fs-4"></i>
            <h5 class="fw-bold fs-5">Baked Fresh Daily</h5>
        </div>
       
            <div class="card-body">
              <p class="card-text fs-7">Our food is baked fresh daily.<br>Contains no preservatives and is very high in quality.It is also especilly nice and soft.</p>
            </div>
          </div>

      </div>
      <!-- 2 -->
      <div class="col">

        <div class="card" style="width: 16rem;">
          
            
            <div class="text-center mt-2">
                <i class="fa-solid fa-caret-up   fs-2"></i>
                <h5 class="fw-bold fs-5"> Greate Value</h5>
            </div>
           
                <div class="card-body">
                  <p class="card-text fs-7">The most competetive prices on the market we are able to deliver great value without compromising on taste.</p>
                </div>

              
          </div>

      </div>
      <!-- 3 -->
      <div class="col">
        
        <div class="card" style="width: 16rem;">
            
            <div class="text-center mt-2">
                <i class="fa-solid fa-truck  fs-4 "></i>
                <h5 class="fw-bold fs-5 mt-2 ">Delivery To Your Door</h5>
            </div>
           
                <div class="card-body">
                  <p class="card-text ">Click to select your food.It has fast delivery to your door.Lorem ipsum dolor, sit ipsum dolor amet consectetur adipisicing.</p>
                </div>

          </div>

      </div>
      <!-- 4 -->
      <div class="col">

        <div class="card" style="width: 16rem;">
            
            <div class="text-center mt-2">
                <i class="fa-solid fa-chalkboard-user   fs-4"></i>
                <h5 class="fw-bold fs-5">Instructions</h5>
            </div>
           
                <div class="card-body">
                  <p class="card-text">We serve a wide range of including ,hotels instructions airlines and schools.Order daily for tomorrow.</p>
                </div>

          </div>

      </div>
    </div>
</div>
