

.image-fluid{
    background: url("https://media.istockphoto.com/id/1083739024/photo/baked-traditional-swedish-lusse-semla-dessert.jpg?s=612x612&w=0&k=20&c=5lIrQdUB8yJjczylqqkZLOhw44iXFWpgKAIa3VrRV8U=");
   background-repeat: no-repeat;
   background-position: center;
   height: 75vh;
   background-size: 100%;
  }