<app-navbar></app-navbar>

<div class="image-fluid mt-5 ">
    
    <div class='color-overlay'></div>

    <div class='heading '>
        <p ><em >The Best Bakery</em><br></p>
       
        <h1 class='fw-bold fs-3' >One Step to Making a Good Start</h1>
        <p class='mt-4 fs-6'>A bakey is an establishment that produces and sells flour-based food baked in an ovens such asbread,<br>cookies and cakes.Some retail bakeries
            are also categorized as cafes serving coffee and tea to<br> customers who wish to consume the baked goods on the premises.
        </p>
       
        </div>






</div>



















<app-hero></app-hero>

<app-products></app-products>
<app-about></app-about>
<app-footer></app-footer>