<div class="container-product">
  <nav routerLink="/admin/product" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div  class="container-fluid ">
          <i class="fa-solid fa-house fs-5 text-light"></i>
        <a class="navbar-brand ms-2  fw-bold" href="#">DASHBOARD</a>
        <a class="navbar-brand ms-3  fw-bold" href="#">CREAMIO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item ">
              <a class="nav-link active ms-auto border rounded p-1 fw-bold fs-5 " aria-current="page" href="#">Logout</a>
            </li>
           
            
          </ul>
        </div>
      </div>
    </nav>
  
<!--  -->



<div class="container mt-5 py-5 w-50 ">
     <h3 class="text-center fw-bold fs-3">Edit Products</h3>

  <form [formGroup]="updateForm" (ngSubmit)="saveChanges()">
     <div class="box mt-5 border rounded shadow">

        <div class="row m-4 ">

          <div class="col ">
            <input type="text" class="form-control " placeholder="id" formControlName="Id" />
          </div>
          <div class="col">
      
            <input type="text" class="form-control " placeholder="image" formControlName="image"/>
          </div>
        </div>
<!--  -->
        <div class="row m-4">

          <div class="col">
            <input type="text" class="form-control" placeholder="product name" formControlName="productName" />
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="price" formControlName="price"/>
           </div>
         </div>
<!--  -->
         <div class="row m-4">

           <div class="col">
            <input type="text" class="form-control" placeholder="Category" formControlName="category"/>
        
          </div>
           <div class="col">
            <input type="text" class="form-control" placeholder="Description" formControlName="description"/>
        
          </div>
 
        </div>
            <div class=" d-flex align-items-center justify-content-center">
             <button type="submit" class="btn btn-success mb-4 w-50 ">Save changes</button>
            </div>

    </div>
</form>