

 .image-fluid{
    background: url("https://media.istockphoto.com/id/1047286052/photo/chocolate-cheesecake-slice.jpg?s=612x612&w=0&k=20&c=3R_qt_g7jTDo5OAK6Yv0n6pMdlt3lCG8NEt7SgJGndI=");
   background-repeat: no-repeat;
   background-position: center;
   height: 35vh;
   background-size: 100%;
  } 
 