<div class="container mt-5">
<div class="row">
    <div class="col-8">
<h5 class="fw-bold mb-3 fs-4">WE CREATE DELICIOUS MEMORIES FOR YOU</h5>
<p class="fs-6">Lorem ipsum dolor sit, amet adipisicing elit consectetur adipisicing elit. <br>Blanditiis quidem, quam nesciunt adipisicing elit dignissimos cupiditate <br>molestiae dignissimos cupiditate adipisicing consectetur adipisicing<br>ipsum dolor sit, amet adipisicing elit consectetur adipisicing elit. </p>


    </div>
    <div class="col-2">

        <div class="animated-image">
            <img class="w-100 rounded" src="https://media.istockphoto.com/id/1194250097/photo/close-up-of-sweet-bread-cake-sliced-with-tea.jpg?s=612x612&w=0&k=20&c=jR51QRG61HOnQnPBKwh7Y_X1JE1eSgQhUYZR8fYr9n8=" alt="Animated Image" style="height: 130px;">
          
          </div>
        </div>
        <div class="col-2">
          <div class="animated-image">
            <img class="w-100 rounded" src="https://images.unsplash.com/photo-1606188074044-fcd750f6996a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fHx8" alt="Animated Image" style="height: 200px;">
          
          </div>

    </div>
  
  
   


  </div>
</div>





    

      