<div class="container-fluid " >
    <hr />
    <div class="row p-5">
      <div class="col-lg-3">
        <h2 class="fs-4  fw-bold"><em>CREAMIO</em></h2>
        <p class="mt-3 ">Lorem ipsum dolor sit Lorem ipsum,<br> dolor sit amet consectetur elit. At <br> elit. At, vitae. adipisicing dolor  was consectetur adipisicing elit. </p>
      </div>
      <div class="col-lg-3 ps-4">
        <h2 class="fs-4  fw-bold">Links</h2>
        <div class="mt-3">
          <p>Featured</p>
          <p>Design</p>
          <p>About Us</p>
         
        </div>
      </div>
      <div class="col-lg-3">
        <h2 class="fs-4  fw-bold">Services</h2>
        <div class="mt-3">
          <p>Email Marketing</p>
          <p>Branding</p>
          <p>Offline</p>
         
        </div>
      </div>
      
      <div class="col-lg-3">
       
          <h1 class="fs-4  fw-bold">Subscribe</h1>
          <div class="mt-3">
            <input
              type="text"
              placeholder="Your email address"
              class="form-control p-2"
            />
          </div>
          <button class="mt-3 py-2 px-3 border rounded bg-danger text-white">
            SUBSCRIBE
          </button>

          <div class="mt-3">

            <i class="fa-brands fa-instagram fs-3 me-2 text-danger"></i>
            <i class="fa-brands fa-whatsapp fs-3 text-success"></i>
            <i class="fa-brands fa-facebook fs-3 ms-2 text-primary"></i>
        </div>

        </div>
    
     

    </div>
    <div class="row shadow-lg p-3">
      <div class="col-lg-6 p-3">
        <p class="fw-bolder fs-5 ">Copyright &copy; 2024 creamio </p>
      </div>
     
     
    </div>
  </div>
